on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main


name: Build Meters4s

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v3
          with:
            java-version: "17"
            distribution: "temurin"
        - uses: coursier/cache-action@v6
        - run: sbt "scalafmtCheckAll;+test"